:root {
    --main-dark-color: #344962;
    --main-light-color: #dfc096; 
    --text-dark-color: #333333; 
    --text-light-color: #ffffff; 
  }

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,700;1,400&display=swap');

html {
    scroll-behavior: smooth; 
}

/* TEXTS */

body {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px; 
  color: var(--text-dark-color);
}

p {
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: 300; 
}
  
a {
    text-decoration: none;
    color: var(--main-dark-color); 
}
  
a:hover {
    color: var(--main-light-color); 
}

/* HEADER */

header {
    background-size: cover;
    background-repeat: no-repeat;
    height: 135px;
    background-attachment: fixed;
    background-position: center center;
    background-image: url('img/header/bg.jpg');
    color: var(--text-light-color);
}